doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title ホーム
  body
    if(message)
      p #{message}
    p 名前は #{name} です

    form(method="post" action="/")
      button(type="submit") 登録
