<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
</head>
<body>
  <p><%= name %> さん、こんにちは</p>
  <p>ファイルアップロード</p>
  <form action="/" method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <button type="submit">アップロード</button>
  </form>
</body>
</html>
